:root {
  --main-bg-color: #f4f6ff
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* @font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockSalt";
  src: url("/fonts/RockSalt-Regular.ttf");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "BlackOpsOne";
  src: url("/fonts/BlackOpsOne-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CinzelDecorative";
  src: url("/fonts/CinzelDecorative-Regular.ttf");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "RubikMonoOne";
  src: url("/fonts/RubikMonoOne-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GiveYouGlory";
  src: url("/fonts/GiveYouGlory-Regular.ttf");
  font-style: normal;
  font-display: swap;
} */


@font-face {
  font-family: "FingerPaint";
  src: url("/fonts/FingerPaint-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

